div.font{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    height: auto;
    width: auto;
    font-size: 20px;
    line-height: 26px;
    color: black;
}

ul>li{
    margin-bottom: 20px;

}
p.box{
 
    background-color: #def6ed;
}
span{
    font-weight: bold;
}
ul{
    margin-bottom: 40px;
    margin: 0 auto;
}
ol{
    margin-bottom: 40px;
}
p{
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}
h1{
    font-size: 36px;
    line-height: 36px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
h2{
    font-size: 32px;
    line-height: 32px;
}